@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  transition: all 0.4s ease-in;
}
i {
  font-size: x-large;
  margin-right: 0.25rem;
  margin-right: -1rem;
  //position: absolute;
}

.quote_container {
  border-radius: 5px;
  //padding: 1rem 1.4rem;
  background-color: white;
  .para_span {
    width: 30rem;
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    // padding: 1.2rem 1.8rem;
    text-align: center;
  }
}
.para_span span {
  font-size: 1.75em;
  padding: 1rem;

  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.author_container {
  width: 28rem;
  display: flex;
  justify-content: flex-end;
}

.author_container span {
  font-size: 1.1em;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.buttons_container {
  display: flex;
  width: 27rem;
  padding: 1rem 0;
  .flex-left {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    .twitter_link i {
      font-size: 2.5rem;
    }
  }
  .flex-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    button {
      padding: 0.7rem 1.1rem;
      color: white;
      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 0.9em;
      font-family: "Raleway", sans-serif;
      background-color: rgb(104, 70, 70);
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(102, 91, 91);
    }
  }
}

.tagname {
  p {
    font-size: 0.8rem;
    font-family: "Raleway", sans-serif;
    color: white;
  }
}

@media (max-width: 450px) {
  .para_span {
    width: 23rem !important;
    i {
      font-size: larger;
    }
    span {
      font-size: 1.21em;
    }
  }
  .author_container {
    width: 25rem;
  }
}
